body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --black: #0c0f1e;
}
/* FONT */
@font-face {
  font-family: NeueMontreal;
  src: url(./fonts/NeueMontreal-Regular.otf);
}
/* NAVBAR */
.link {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 5px;
}
.logo {
  height: 50px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.bookmark {
  height: 20px;
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-header {
  height: 5vh;
  display: flex;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: space-between;
  margin: 5px;
  padding-bottom: 10px;
  font-family: NeueMontreal;
  font-size: 16px;
  box-shadow: 0px 24px 3px -24px rgba(23, 19, 35, 0.274);
}

.nav-right {
  display: flex;
  align-items: center;
}

.search {
  width: 500px;
  height: 15px;
  border-color: #aaaaaa;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.search-bar {
  border: none;
  margin-left: 15px;
  width: 100%;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  background: none;
  border: none;
}

.language {
  padding-right: 10px;
  border-right: 1px solid #aaaaaa;
}

/* HOME */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Playfair Display";
}

.daily-word-box {
  min-height: 150px;
  max-width: 600px;
  font-size: x-large;
}
.word-noun {
  display: flex;
  align-items: baseline;
}

.title {
  margin-right: 10px;
}

.home-header {
  margin-bottom: 10px;
  font-size: 65px;
  word-spacing: 10px;
  color: #525455;
}
.home-underline {
  background-color: #d3dedc;
  height: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.daily-word-definition {
  margin-top: 0px;
}

/*SAVED WORDS*/

.save-container {
  display: grid;
  justify-content: center;
  font-family: "Playfair Display";
}

.vocab-underline {
  background-color: #d3dedc;
  height: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.vocab-list-title {
  font-size: 65px;
  margin-bottom: 5px;
}

.saved-words {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  max-height: 500px;
  overflow-y: auto;
}

/* DICTIONARY */

.dict-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.synonym-container {
  background-color: #d3dedc;
  height: calc(100vh - 60.05px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Playfair Display";
}

.synonym-title {
  font-size: 40px;
  margin-bottom: 0;
}
.synonym-underline {
  background-color: #ffffff;
  height: 10px;
  width: 100px;
  margin-bottom: 20px;
}

.synoynm-words {
  font-size: 25px;
  background-color: white;
  margin: 10px 5px 0px 0px;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
}

.words-container {
  display: flex;
  flex-wrap: wrap;
}

.definition-container {
  padding: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Playfair Display";
  overflow-y: auto;
}

.definition-title {
  font-size: 40px;
  margin-bottom: 0;
}
.definition-underline {
  background-color: #d3dedc;
  height: 10px;
  width: 100px;
  margin-bottom: 20px;
}

.definition-header {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.pronunciation {
  font-size: 25px;
  margin-bottom: 5px;
}

.definition {
  font-size: 20px;
}

.phonetics {
  display: flex;
  gap: 30px;
}

.saved {
  fill: black;
}
